.potential-changes {
    float: left;
    position: relative;
}

.potential-changes__dropdown {
    background-color: white;
    border: 1px solid rgba(27, 31, 35, .2);
    display: none;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 32px;
    width: 260px;
    z-index: 1;
}

.potential-changes__dropdown > :last-child {
    margin-bottom: 0;
}

.potential-changes__dropdown--visible {
    display: block;
}

.potential-changes__prs-list {
    list-style-position: inside;
}
